<div id="landing-header">
        <div class="col-sm-offset-2 col-sm-8" id=topic><h1 >Experience a World Class Book Store</h1></div>
        <div class=col-sm-12 id=undtopic>
        <a *ngIf=!globals.loggedin routerLink="/signup" routerLinkActive="active"class="btn btn-lg btn-success">Sign Up</a>
         <a *ngIf=globals.loggedin routerLink="/mybooks" routerLinkActive="active" class="btn btn-lg btn-success">Get Started</a>
  
        </div>
          </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>